<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Content</title>
    <th:block th:insert="fragment/head"/>


</head>

<body>
<div class="container-fluid">
    <th:block th:insert="fragment/header" />
    <div class="row vh-100">
        <div class="col-sm-4 col-md-3 col-xl-2 border-end border-muted bg-light">
            <form class="input-group mt-3 mb-3" role="search">
                <input type="search" class="form-control" placeholder="Search.." aria-label="search"
                       aria-describedby="button-addon2">
                <button class="btn btn-light border bot" type="submit" id="button-addon2"><i
                        class="fa fa-search"></i></button>
            </form>
            <ul class="list-group row">
                <a th:href="@{/contents}"
                   class="border-start-0 border-end-0 rounded-0 list-group-item list-group-item-action btn-color text-primary"><i
                        class="fa-solid fa-table-cells"></i> View contents</a>
                <a th:href="@{/contents/add}"
                   class="border-start-0 border-end-0 border-top-0 rounded-0 list-group-item list-group-item-action text-primary disabled"><i
                        class="fa-solid fa-pen-to-square"></i> Form content</a>
            </ul>
        </div>
        <div class="col-sm-8 col-md-9 col-xl-10 bg-white pb-3">
            <div class="p-2">
                <h1 class="pt-3 pb-3 border-bottom border-muted mb-3"
                    th:text="${contentDto.id} ? 'Update Content' : 'Add Content'"></h1>
                <div class="border rounded border-muted">
                    <div class="border-bottom border-muted bg p-2">
                        Content Form Elements
                    </div>
                    <form class="col-9" name="content-form"
                          th:action="@{${contentDto.id == null ? '/contents/add' : '/contents/update/' + contentDto.id}}" method="post"
                          th:object="${contentDto}">
                        <div class="m-3">
                            <label for="title" id="labelTitle" class="form-label fw-bold">Title</label>
                            <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="Enter the title">
                            <span class="text-danger" th:errors="*{title}"></span>
                        </div>
                        <div class="m-3">
                            <label for="brief" id="labelBrief" class="form-label fw-bold">Brief</label>
                            <textarea name="brief" class="form-control" th:field="*{brief}" id="brief" rows="3"></textarea>
                            <span class="text-danger" th:errors="*{brief}"></span>

                        </div>
                        <div class="m-3">
                            <label for="content" id="labelContent" class="form-label fw-bold">Content</label>
                            <textarea name="content" class="form-control" th:field="*{content}" id="content" rows="6"></textarea>
                        </div>
                        <div class="m-3">
                            <button type="submit" class="btn btn-white border border-muted">Submit Button</button>
                            <!-- onclick="return removeError()" -->
                            <button type="reset" class="btn btn-white border border-muted">Reset Button</button>
                            <div th:if="${forbiddenError}" class="alert alert-danger" role="alert">
                                <span th:text="${forbiddenError}"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
</script>
<!--<script>-->
<!--    function validateForm() {-->
<!--        let valid1 = validateTitle()-->
<!--        let valid2 = validateBrief()-->
<!--        let valid3 = validateContent()-->
<!--        return (valid1 && valid2 && valid3);-->
<!--    }-->
<!--    function validateTitle() {-->
<!--        let title = document.forms["content-form"]["title"].value.trim();-->
<!--        let valid = true;-->
<!--        removeClass(`errorlabelTitle`)-->
<!--        document.getElementById("title").classList.remove("error-border")-->
<!--        if (!title) {-->
<!--            valid = false;-->
<!--            alertErrorMsg("labelTitle", "Title field must not be empty!");-->
<!--        }-->
<!--        else if (title.length < 10 || title.length > 200) {-->
<!--            valid = false;-->
<!--            alertErrorMsg("labelTitle", "Title must be between 10 and 200 characters!");-->
<!--        }-->
<!--        if (!valid) {-->
<!--            document.getElementById("title").classList.add("error-border")-->
<!--        }-->
<!--        return valid;-->
<!--    }-->
<!--    function validateBrief() {-->
<!--        let brief = document.forms["content-form"]["brief"].value.trim();-->
<!--        let valid = true;-->
<!--        removeClass(`errorlabelBrief`)-->
<!--        document.getElementById("brief").classList.remove("error-border")-->
<!--        if (!brief) {-->
<!--            valid = false;-->
<!--            alertErrorMsg("labelBrief", "Brief field must not be empty!");-->
<!--        }-->
<!--        else if (brief.length < 30 || brief.length > 150) {-->
<!--            valid = false;-->
<!--            alertErrorMsg("labelBrief", "Brief must be between 30 and 150 characters!");-->
<!--        }-->
<!--        if (!valid) {-->
<!--            document.getElementById("brief").classList.add("error-border")-->
<!--        }-->
<!--        return valid;-->
<!--    }-->
<!--    function validateContent() {-->
<!--        let content = document.forms["content-form"]["content"].value.trim();-->
<!--        let valid = true;-->
<!--        removeClass(`errorlabelContent`)-->
<!--        document.getElementById("content").classList.remove("error-border")-->
<!--        if (!content) {-->
<!--            valid = false;-->
<!--            alertErrorMsg("labelContent", "Content field must not be empty!");-->
<!--        }-->
<!--        else if (content.length < 50 || content.length > 1000) {-->
<!--            valid = false;-->
<!--            alertErrorMsg("labelContent", "Content must be between 50 and 1000 characters!");-->
<!--        }-->
<!--        if (!valid) {-->
<!--            document.getElementById("content").classList.add("error-border")-->
<!--        }-->
<!--        return valid;-->
<!--    }-->
<!--    function removeClass(elementClass) {-->
<!--        while (document.getElementsByClassName(elementClass)[0]) {-->
<!--            document.getElementsByClassName(elementClass)[0].remove()-->
<!--        }-->
<!--    }-->
<!--    function alertErrorMsg(elementId, error) {-->
<!--        document.getElementById(elementId).innerHTML = document.getElementById(elementId).innerHTML +-->
<!--            `<p class="error error${elementId} m-0 fw-lighter" style="color:red;">${error}</p>`-->
<!--    }-->
<!--    function removeError() {-->
<!--        removeClass(`error`)-->
<!--        for (elm of document.querySelectorAll(".error-border")) {-->
<!--            elm.classList.remove("error-border");-->
<!--        }-->
<!--    }-->
<!--</script>-->
</body>

</html>