*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(245,245,245);
    border: 1px solid rgb(213,213,213);
}
a{
    text-decoration: none;
}

.container{
    display: flex;
    height: 100vh;
}
.nav-bar{
    width: 20%;
    background-color: rgb(245,245,245);
}
.form{
    width: 80%;
}

.nav-item{
    padding: 10px 10px;
    color: rgb(109,159,226);
    border-bottom: 0.5px solid rgb(213,213,213);
}


.search input{
    width: 75%;
    box-sizing: border-box;
    padding: 5px ;
    margin-right: -5px;
    outline: none;
}
.search i {
    padding:6px 10px;
}

.content{
    flex: auto;
    display: flex;
    justify-content: space-between;
    height: 45px;

}
.drop-down-parent{
    position: relative;
}
.drop-down{
    position: absolute;
    display:none;
    border-radius: 5px;
    background-color: #FFF;
}

.drop-down-parent:hover .drop-down{
    display: block;
    width: 120px;
    right: 0;
    /* margin-top: 11px; */
}


.user{
    padding: 7px;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.edit-profile{
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 10px;
}
.form-edit{
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.title-profile{
    padding: 10px;
    background-color: rgb(245,245,245);
    border-bottom: 1px solid #ccc;
}

.form-content{
    border-radius: 3px;
    padding: 5px;
}
.form-group{
    margin: 10px;
}

.form-group p{
    font-weight: bold;
    margin-bottom: 3px;
}
.form-group input{
    padding: 3px;
    width: 680px;
    outline: none;
}

.form-button{
    display: flex;
}
.form-button button{
    padding: 3px;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

